@font-face {
  font-family: dragonBall;
  src: url('../assets/fonts/mangat-webfont.woff') format('woff2');
}
@font-face {
  font-family: dragonBall2;
  src: url('../assets/fonts/mangatb-webfont.woff') format('woff2');
}
