@media screen and (max-height: 450px) {
  /*Estilos para ambos, character y planet*/
  .container {
    height: 300px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .points {
    font-size: 13px;
  }

  .OptionButton {
    width: 85px;
    height: 55px;
    margin: 5px;
    font-size: 11px;
    border-radius: 30px;
  }

  .buttonPanel {
    width: 440px;
    margin: 0;
    display: flex;
    align-items: center;
  }

  .buttonBox {
    display: flex;
    flex-direction: row;
    margin: 0;
    margin-left: -15px;
    margin-bottom: 20px;
  }

  .buttonPanelYellowBox {
    height: 270px;
    width: 450px;
    border-radius: 50px;
  }

  .dragon {
    width: 50px;
  }

  .nextMessage {
    margin-top: -35px;
    font-size: 15px;
  }
  .nextCharacter {
    font-size: 13px;
  }

  /*Estilos para character*/
  .characterMainContainer {
    height: auto;
    display: flex;
    justify-content: center;
  }

  .characterDescription {
    display: none;
  }
  .characterImage {
    width: auto;
    max-height: 230px;
  }

  /*Estilos para planet*/
  .planetQuizcontainer {
    height: 100%;
    /* width: 100%; */
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .planetMainContainer {
    height: auto;
    display: flex;
    justify-content: center;
  }
  .planetImage {
    object-fit: contain;
    width: 200px;
    max-height: 230px;
    margin-right: 20px;
  }

  .planetDescription {
    border: 1px solid gray;
  }

  /*Estilos para la pantalla de inicio*/
  .gokuButton {
    width: 70px;
  }
  .planetButton {
    width: 70px;
  }
  .planetsLettersButton {
    font-size: 10px;
  }

  .gokuLettersButton {
    font-size: 10px;
  }

  .instructions {
    height: 70px;
  }
  .instructionsH1 {
    font-size: 12px;
  }
  .instructionsText {
    font-size: 13px;
  }

  /*Estilos para el componente base*/
  .baseHeader {
    height: 65px;
  }
  .dragonBallLetters {
    width: 185px;
  }
  .logo {
    width: 75px;
  }
  .musicIconContainer {
    height: 2px;
  }
  /*Pantalla cuando pierdes*/
  .gameEndedPage {
    flex-direction: row;
    height: auto;
  }
  .finalScoreImage {
    width: 185px;
  }
  .finalScoreContainer {
    margin: 20px;
  }

  /*Estilos página en construcción*/
  .BulmaImage {
    width: 140px;
  }
  .constructionPageContainer {
    flex-direction: row;
  }

  /*GameEnded*/
  .gameEndedContainer {
    margin: 10px;
    display: flex;
    align-items: center;
  }
  .SatanImage {
    width: 185px;
  }
  .subContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .buttonContainer {
    width: 150px;
    height: 150px;
    align-items: center;
  }
}
